@using Antlr.Runtime.Tree
@model WebMain.Models.PriceViewModel


<div class="jumbotron">
<img src="~/Content/mn.JPEG " class="left; col-md-12 " /></div>

<div style="color: #8B0000">
<h2 class="text-center">Клінічні дослідження, що проводяться в медичних лабораторіях міста Києва</h2>
</div>


<br/>

<ul class="lablinks">
        <li><a href="http://www.synevo.ua/uk/analizy/vse-analizy">Synevo</a></li>
        <li><a href="http://dila.ua/ua/pricelist/index.html">Dila</a></li>
        <li><a href="http://dnk-lab.com.ua/price.php">Dnklab</a></li>
        <li><a href="http://uldc.com.ua/uk/analizy-ciny/itemlist/category/100000007-laboratorni-doslidzhennya.html">ULDC</a></li>
        <li><a href="http://medlabtest.ua/ua/patients/analizy_i_zeny/po_nazvaniyu/">Medlabtest</a></li>
        <li><a href="http://www.bioplus.com.ua/pricelist.html">Bioplus</a></li>
        <li><a href="http://nikolab.com.ua/price/">Nikolab</a></li>
    </ul>

<br/>
<br/>


<div class="row">
    <div class="col-md-2">
        Назва лабораторії
    </div>
    <div class="col-md-2">
        Перелік панелей медичних досліджень
    </div>
    <div class="col-md-2">
        Перелік груп медичних досліджень
    </div>
    <div class="col-md-3">
        Перелік медичних досліджень
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("About", "Home", FormMethod.Get, new { @role = "form", @class = "" }))
    {
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Labs, Model.Labs, string.Empty, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.Categories, Model.Categories, string.Empty, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.SubCategories, Model.SubCategories, string.Empty, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.DropDownListFor(m => m.Tests, Model.Tests, string.Empty, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <input type="submit" name="submitButton" value="Пошук" class="btn btn-default" />
            <button type="button" name="submitButton" value="Новий пошук" class="btn btn-default" onclick=" clearForm() " >Новий пошук</button>
        </div>
    }
</div>
<br/>






<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover"; style="color: indigo;">

            <caption>
                <h3>Вартість та терміни виконнаня лабораторних досліджень в м. Київ</h3>
            </caption>
            <thead>
                <tr style="background-color:#E8E8E8; color: indigo;">




                    <td><b>Назва медичної лабораторії</b></td>
                    <td><b>Назва клінічного дослідження</b></td>
                    <td><b>Звичайне виконання, дні</b></td>
                    <td><b>Вартість клінічного дослідження звичайного, грн.</b></td>
                    <td><b>Термінове виконання, дні</b></td>
                    <td><b>Вартість клінічного дослідження термінового, грн.</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var test in Model.FilteredTests)
                {
                    <tr>
                        <td style="background-color:#E8E8E8; color: #8B0000"><b>@test.CompanyName</b></td>
                        <td style="background-color:#F5F5F5; color: indigo">@test.Name</td>
                        <td style="background-color:#F5F5F5; color: indigo" >@test.Term</td>
                        <td style="background-color:#F5F5F5; color: indigo">
                            @if (test.Price != -1)
                            {
                                @test.Price
                            }
                        </td>
                        <td style="background-color:#F5F5F5; color: indigo">@test.UrgentTerm</td>
                        <td style="background-color:#F5F5F5; color: indigo">
                            @if (test.UrgentPrice != -1)
                            {
                                @test.UrgentPrice
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        function clearForm()
        {
            $("#Labs option:selected").prop("selected", false);
            $("#Labs option:first").prop("selected", "selected");
            $("#Categories option:selected").prop("selected", false);
            $("#Categories option:first").prop("selected", "selected");
            $("#SubCategories option:selected").prop("selected", false);
            $("#SubCategories option:first").prop("selected", "selected");
            $("#Tests option:selected").prop("selected", false);
            $("#Tests option:first").prop("selected", "selected");
            return false;
        }
    </script>
}
